<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.minordegreemanagement.facade.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.minordegreemanagement.facade.entity.Course">
        <id column="course_id" property="courseId" />
        <result column="course_name" property="courseName" />
        <result column="major_code" property="majorCode" />
        <result column="course_code" property="courseCode" />
        <result column="teacher_id" property="teacherId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        course_id, course_name, major_code, course_code, teacher_id
    </sql>
    <select id="selectByCourseIdList" resultType="com.sicau.minordegreemanagement.facade.entity.Course" parameterType="java.util.List">
        select * from t_course
        where course_id in
        <foreach collection="courseIdList" item="courseId" open="(" close=")" separator=",">
            #{courseId}
        </foreach>
    </select>
    <select id="selectByMajorCode" resultType="com.sicau.minordegreemanagement.facade.entity.Course">
        select * from t_course where major_code = #{majorCode}
    </select>
    <select id="selectCourseInfoByCourseId" resultType="com.sicau.minordegreemanagement.facade.entity.Course" parameterType="java.util.List">
        select * from t_course
        where
            <if test="majorCode != null and majorCode !=''">
                major_code = #{majorCode} and
            </if>
            course_id not in
        <foreach collection="courseIdList" separator="," open="(" close=")" item="courseId">
            #{courseId}
        </foreach>

    </select>

</mapper>
