<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.minordegreemanagement.facade.mapper.CourseSelectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.minordegreemanagement.facade.entity.CourseSelection">
        <id column="selection_id" property="selectionId" />
        <result column="student_id" property="studentId" />
        <result column="course_id" property="courseId" />
        <result column="selection_time" property="selectionTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        selection_id, student_id, course_id, selection_time
    </sql>

</mapper>
