<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sicau.minordegreemanagement.facade.mapper.GradeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sicau.minordegreemanagement.facade.entity.Grade">
        <id column="grade_id" property="gradeId" />
        <result column="student_id" property="studentId" />
        <result column="course_id" property="courseId" />
        <result column="grade" property="grade" />
        <result column="minor_degree_state" property="minorDegreeState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        grade_id, student_id, course_id, grade, minor_degree_state
    </sql>
    <select id="queryTokenCourse" resultType="com.sicau.minordegreemanagement.facade.entity.Grade">
        SELECT student_id,course_id FROM t_grade GROUP BY student_id,course_id HAVING student_id = 19
    </select>

</mapper>
